<ul>
  <li>A Menu of Options</li>
  <li>Result? Visually a single table that switces based on chosen option </li>
</ul>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/database">Students</a>
    <a class="dropdown-item" href="/database">Instructors</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
<br>
<br>
<%= bootstrap_form_tag url: '/database', layout: :inline, label_col: "col-sm-2" do |f| %>
  <%= f.text_field :first_name, label: "First Name:", required: true, control_col: "col-sm-5" %>
  <%= f.text_field :last_name, label: "Last Name:", required: true, control_col: "col-sm-5" %>
  <%= f.number_field :age, label: "Age:", required: true, control_col: "col-sm-5" %>
  <%= f.select :education, [["High School", "High School"], ["College", "College"], ["Masters", "Masters"], ["PhD", "PhD"]], control_col: "col-sm-5" %>

  <%= f.submit %>
<% end %>
<br>
<br>
<table class="table">
<caption>List of Students</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Education</th>
      <th scope="col">Cohorts</th>
      <th scope="col">Add Cohorts</th>
  </thead>
  <tbody>
      <% @students.each do |students| %>
      <tr>
        <th scope="row"><%= students.id %></th>
        <td><%= students.first_name %></td>
        <td><%= students.last_name %></td>
        <td><%= students.age %></td>
        <td><%= students.education %></td>
        <td><%= students.cohorts %></td>
        <td><a class="btn btn-success" href="/cohorts">Add Cohort</a></td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<table class="table">
<caption>List of Instructors</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">Education</th>
      <th scope="col">Cohorts</th>
  </thead>
  <tbody>
      <% @instructors.each do |instructors| %>
      <tr>
        <th scope="row"><%= instructors.first_name %></th>
        <td><%= instructors.last_name %></td>
        <td><%= instructors.age %></td>
        <td><%= instructors.salary %></td>
        <td><%= instructors.education %></td>
        <td><%= instructors.cohorts %></td>
      </tr>
      <% end %>
  </tbody>
</table>