
<ul>
  <li>Site Name: Kanto</li>
  <li>Use modal from rumblr project </li>
  <li>We using gem datagrid boyz</li>
</ul>
<a style="color:purple"href="/pages/about">
  <div class="circle">
    <p class="button_text">Why?</p>
  </div>
</a>

<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_tag url: "/pages/home", method: "post", :class => "form-horizontal" do |f| %>

                <%= f.text_field(:first_name ) %>

                <%= f.text_field(:last_name ) %>

                <%= f.date_field :date_of_birth %>

                <%= f.email_field(:email ) %>

                <%= f.text_field(:username ) %>

                <%= f.password_field(:password, label: "Password:") %>

            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Welcome Back!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= form_tag("/pages/home", method: "post", :class => "form-horizontal") do %>
              <div class="form-group">
                <%= label_tag(:username, "Username:", :class =>"col-sm-3 control-label") %>
                <div class="col-sm-6">
                  <%= text_field_tag(:username ) %>
                </div>
                <div class="col-sm-3"></div>
                </div>
                <div class="form-group">
                    <%= label_tag(:password, "Password:", :class =>"col-sm-3 control-label") %>
                <div class="col-sm-6">
                    <%= password_field_tag(:password ) %>
                </div>
                <div class="col-sm-3"></div>
                </div>
                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= submit_tag("Submit") %>
                </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
